.about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80vh;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 20px;
    gap: 35px;
    z-index: 5;
    >h1{
        font-weight: 700;
        font-size: 90px;
    }
}
.info-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    >img{
        width: 50px;
        height: 50px;
        &:hover{
            transform: scale(1.3);
        }
    }
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    >.profile {
        height: 600px;
        
    }

}
.shadow{
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 700px;
}
.bg-container{
    width: 100%;
    z-index: 1;
    position: absolute;
}
.bg{
    position: relative;
    width: 100%;
    right: 0;
    top: -300px;
}

@media(max-width: 1550px){
    .profile{
        height: 500px !important;
    }
}
@media(max-width: 1340px){
    .profile{
        height: 400px !important;
    }
}
@media (max-width: 1100px){
    .left{
        padding-left: 30px;
    }
    .profile{
        height: 300px !important;
    }
}

@media (max-width: 1000px){
    .about-me{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 74px;
        height: 90vh;
    }
    .left{
        width: calc(100% - 50px);
        justify-content: center;
    }
    .right{
        width: 100%;
        >.profile {
            padding-top: 0;
        }
    }
    .bg{
        top: -700px;
    }
}
@media(max-width: 670px){
    .profile{
        width: 100%;
        height: 100% !important;

    }
}
@media (max-width: 539px){
    .bg{
        top: -700px;
    }
}
@media(max-width: 470px){
    .left{
        >h1{
            font-size: 70px;
        }
    }
}
@media(max-width: 400px){
    .left{
        >h1{
            font-size: 45px;
        }
    }
}
@media(max-width: 340px){
    .bg{
        top: -800px;
    }
}