<section>
<div class="about-me">
    <div data-aos="zoom-in" class="left">
        <h1>{{aboutme}}</h1>
        <p>{{aboutme1}}</p>
        <span class="info-text"><img src="assets/img/bulb.png" alt=""><p>{{aboutme2}}</p></span>
        <span class="info-text"><img src="assets/img/puzzle.png" alt=""><p>{{aboutme3}}</p></span>
    </div>
    <div data-aos="zoom-in" class="right">
        <img class="profile" src="assets/img/foto.png" alt=""> <!-- Profilbild noch einfügen -->
        <img class="shadow" src="assets/img/photo_shadows.png" alt="">
    </div>
</div>
<div class="bg-container">
    <img class="bg" src="assets/img/aboutmebg.png" alt="">
</div>
</section>
<div class="bg-big-container">
    <img class="bg-big" src="assets/img/aboutmebg.png" alt="">
</div>
