<div class="about-me">
    <div class="left">
        <h1>About me</h1>
        <span>
            <p>Hi, I am a Frontend developer based in Bavaria, Germany. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, nesciunt optio nam omnis quia soluta voluptate quos illum. Excepturi dolorum ullam numquam at quibusdam atque rerum veritatis soluta nulla voluptas?</p>
            <p><img src="assets/img/bulb.png" alt="">Some personal things to share Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati possimus illo dolore, eveniet hic officiis architecto ipsam in deleniti maxime id aut at laudantium animi, modi dolores! Laudantium, animi rem?</p>
            <p><img src="assets/img/puzzle.png" alt="">Some personal things to share Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti iste totam corrupti commodi quaerat ad saepe libero nostrum ipsa non doloribus, rerum cum repellendus pariatur similique modi eligendi molestias reprehenderit?</p>
        </span>
    </div>
    <div class="right"></div>


</div>
