<div class="portfolio">
    <div class="headline">
        <div class="spacer"></div>
        <h1>Portfolio</h1>
    </div>
    <span>Explore a selection of my work here - Interact with projects to see my skills in action.</span>
</div>
<div class="shadow-container-blue">
    <img class="shadow-blue" src="assets/img/blue_shadow2.png" alt="">
</div>

<div class="projects">  
    <app-single-project class="singles"></app-single-project>
</div>

<div class="shadow-container-green">
    <img class="shadow-green" src="assets/img/green_shadow.png" alt="">
</div>