.section{
    position: relative;
    max-width: 1920px;

}
.portfolio{
    width: 100%;
    // padding-bottom: 100px;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    >span{
        display: flex;
        margin-left: 124px;
        width: 400px;
        height: 50px;
    }
}
.headline{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 60px;
    >.spacer{
        border: 4px solid rgba(151, 71, 255, 1);
        border-radius: 4px;
        width: 50px;
        height: 0;
    }
    >h1{
        font-size: 90px;
        font-weight: 700;
    }
}
.projects{
    width: 100%;
    position: relative;
    z-index: 5;
    top: 100px;
    padding-bottom: 200px;
}
.singles{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}
.shadow-container-blue{
    position: absolute;
    right: 0;
    // z-index: -1;
    max-width: 2560px;
}
.shadow-blue{
    position: relative;
    z-index: 4;
    top: -500px;
}
.shadow-container-green{
    position: absolute;
    left: 0;
    // z-index: -1;
}
.shadow-green{
    position: relative;
    top: -800px;
    z-index: 4;
}
.spacer-big{
    display: none;
}
.shadow-container-green-big{
    display: none;

}
.shadow-container-blue-big{
    display: none;
}

@media (min-width: 1920px){
    .shadow-container-green{
        display: none;
    }
    .shadow-container-green-big{
        display: flex;
        position: absolute;
        left: 0;
        >.shadow-green-big{
            position: relative;
            top: -800px;
        }
    }
    .shadow-container-blue{
        display: none;
    }
    .shadow-container-blue-big{
        display: flex;
        position: absolute;
        right: 0;
        >.shadow-blue-big{
            position: relative;
            top: -1300px;
        }
    }

    .headline{
        position: relative;
    //     >.spacer{

    //     }
    }
    .spacer-big{
        display: flex;
        position: absolute;
        border: 4px solid rgba(151, 71, 255, 1);
        border-radius: 4px;
        width: 1050px;
        height: 0;
        left: -1000px;
    }
}
@media (max-width: 550px){
    .portfolio{
        >span{
            margin: 0;
            width: calc(100% - 40px);
            font-size: 20px;
            padding: 20px;  
        }
    }
    .headline{
        justify-content: space-between;
        gap: 0;
    }
}
@media (max-width: 500px){

    .headline{
        justify-content: flex-start;
        >h1{
            font-size: 70px;
        }
        >.spacer{
            width: 10px;
        }
    }
    .portfolio{
        >span{
            font-size: 16px;
        }
    }
    .shadow-blue{
        width: 100%;
    }
}
@media (max-width: 400px){
    .headline{
        >h1{
            font-size: 55px;
        }
    }
}
@media (max-width: 340px){
    .portfolio{
        padding-top: 70px;
    }
    .shadow-container-green{
        width: 100%;
        >.shadow-green{
            width: 100%;
        }
    }
    .shadow-container-blue{
        width: 100%;
        >.shadow-blue{
            width: 100%;
        }
    }
}
