<div class="section">
<div class="portfolio">
    <div class="headline">
        <div class="spacer"></div>
        <div class="spacer-big"></div>
        <h1 data-aos="fade-right">Portfolio</h1>
    </div>
    <span data-aos="fade-right">{{portfolio}}</span>
</div>

<div class="shadow-container-blue">
    <img class="shadow-blue" src="assets/img/blue_shadow2.png" alt="">
</div>

<div class="projects">  
    <app-single-project class="singles"></app-single-project>
</div>

<div class="shadow-container-green">
    <img class="shadow-green" src="assets/img/green_shadow.png" alt="">
</div>
</div>
<div class="shadow-container-blue-big">
    <img class="shadow-blue-big" src="assets/img/blue_shadow2.png" alt="">
</div>
<div class="shadow-container-green-big">
    <img class="shadow-green-big" src="assets/img/green_shadow.png" alt="">
</div>