<div class="contact-section">
<div class="headline">
    <h1>{{contact}}</h1>
    <div class="spacer"></div>
</div>
<div class="contact-container">
    <div class="text">
        <div class="spacer-container">
            <div class="spacer-text"></div>
        </div>
        <h2>{{problem}}</h2>
        <span>{{contactMe}}</span>
        <span>{{needMe}}<b>{{contactB}}</b></span>
    </div>
    <div class="contact-form">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

            <input #name="ngModel" [(ngModel)]="contactData.name" required type="text" id="name" name="name" placeholder="Your name" [class.error]="!name.valid && name.touched" [class.success]="name.valid && name.touched">
            <div *ngIf="!name.valid && name.touched || isSubmitClicked && !name.valid"  class="errorMsg">
                {{nameEmpty}}
            </div>

            <input #email="ngModel" [(ngModel)]="contactData.email" required type="email" id="email" name="email" placeholder="Your email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"[class.error]="!email.valid && email.touched"  [class.success]="email.valid && email.touched">
            <div *ngIf="!email.valid && email.touched || isSubmitClicked && !email.valid"  class="errorMsg">
                {{emailEmpty}}
            </div>

            <textarea #message="ngModel" [(ngModel)]="contactData.message" required name="message" id="message" cols="30" rows="10" placeholder="Your message"[class.error]="!message.valid && message.touched" [class.success]="message.valid && message.touched"></textarea>
            <div *ngIf="!message.valid && message.touched || isSubmitClicked && !message.valid"  class="errorMsg">
                {{messageEmpty}}
            </div>

            <div class="privacy-container">
                <mat-checkbox color="accent" #check="ngModel" [(ngModel)]="isCheckboxChecked" id="checkbox" (change)="checkboxChange($event)" name="checkbox"></mat-checkbox> 
                <p>{{policy_before_link}}<a routerLink="/privacy-policy">{{policy_link_text}}</a>{{policy_after_link}}</p>
            </div>
            <div *ngIf="isSubmitClicked && !isCheckboxChecked" class="errorMsg">
                {{policyAccept}}
            </div>

            <div class="center">
                <input type="submit" value="{{formSubmit}}"  [class.disabled-button]="!isCheckboxChecked">
            </div>
            
        </form>
    </div>
</div>
    <div class="scroll-up-container">
        <button><a href="#"><img src="assets/img/arrowup.png" alt=""></a></button>
    </div>
</div>
