<div class="shadow-container">
    <img src="assets/img/purple_shadow2.png" alt="">
</div>
<div class="spacer-big-container">
    <div class="spacer-big"></div>
</div>

<div class="contact-section">
<div data-aos="fade-left" class="headline">
    <h1>{{contact}}</h1>
    <div class="spacer"></div>
    
</div>
<div class="contact-container">
    <div data-aos="fade-right" class="text">
        <div class="spacer-container">
            <div class="spacer-text"></div>
        </div>
        <h2>{{problem}}</h2>
        <span>{{contactMe}}</span>
        <span>{{needMe}}<b>{{contactB}}</b></span>
    </div>
    <div data-aos="fade-left" class="contact-form">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" autocomplete="off">

            <div class="input-container">
                <input #name="ngModel" [(ngModel)]="contactData.name" required type="text" id="name" name="name" placeholder="{{namePh}}" [class.error]="!name.valid && name.touched" [class.success]="name.valid && name.touched">
                <p class="errorMsg" *ngIf="!name.valid && name.touched || isSubmitClicked && !name.valid && !formSubmitted">{{nameEmpty}}</p>
            </div>

            <div class="input-container">
                <input #email="ngModel" [(ngModel)]="contactData.email" required type="email" id="email" name="email" placeholder="{{emailPh}}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$" [class.error]="!email.valid && email.touched"  [class.success]="email.valid && email.touched">
                <p class="errorMsg" *ngIf="!email.valid && email.touched || isSubmitClicked && !email.valid && !formSubmitted">{{emailEmpty}}</p>
            </div>
            
            <div class="input-container">
            <textarea #message="ngModel" [(ngModel)]="contactData.message" required name="message" id="message" cols="30" rows="10" placeholder="{{messagePh}}" [class.error]="!message.valid && message.touched" [class.success]="message.valid && message.touched"></textarea>
                <p class="errorMsg" *ngIf="!message.valid && message.touched || isSubmitClicked && !message.valid && !formSubmitted">{{messageEmpty}}</p>
            </div>

            <div class="privacy-container">
                <div class="privacy-top">
                    <mat-checkbox color="accent" #check="ngModel" [(ngModel)]="isCheckboxChecked" id="checkbox" (change)="checkboxChange($event)" name="checkbox"></mat-checkbox> 
                    <p>{{policy_before_link}}<a routerLink="/privacy-policy">{{policy_link_text}}</a>{{policy_after_link}}</p>
                </div>
                <div *ngIf="isSubmitClicked && !isCheckboxChecked && !formSubmitted" class="errorPolicy">
                    <p class="policyAccept errorMsg">{{policyAccept}}</p>
                </div>
            </div>
            

            <div class="center">
                <input type="submit" value="{{formSubmit}}" [disabled]="!name.valid || !email.valid || !message.valid || !isCheckboxChecked" [class.disabled-button]="!name.valid || !email.valid || !message.valid || !isCheckboxChecked">
                <div *ngIf="formSent && !message.touched && !email.touched && !name.touched" class="formSuccess">
                    {{formSuccess}}
                </div>
            </div>
            
        </form>
    </div>
</div>
<div data-aos="fade-up" class="scroll-up-container">
    <button><a href="#"><img src="assets/img/arrowup.png" alt=""></a></button>
</div>
</div>

<!-- pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" -->
<!-- ^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$ -->