.contact-section{
    height: 80vh;
    overflow: hidden;
    background-image: url('/assets/img/purple_shadow2.png');
    background-position: bottom -250px right;
    background-repeat: no-repeat;
}
.headline{
    padding: 200px 0 100px 0;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 40px;
    >h1{
        font-size: 90px;
        font-weight: 700;
    }
}

.spacer{
    border: 4px solid rgba(112, 230, 28, 1);
    width: 40%;
    border-radius: 4px 0 0 4px;
}
.spacer-container{
    position: absolute;
    left: 0;
    width: 50px;
}
.spacer-text{
    position: relative;
    border: 2px solid rgba(28, 218, 230, 1);
    border-radius: 0 4px 4px 0;
    width: 50px;
    top: 20px;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    // height: 50vh;
}
.text{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 100px;
    >h2{
        font-size: 32px;
        font-weight: 700;
    }
    >span{
        font-size: 16px;
        font-weight: 400;
        
    }
}
.contact-form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    >form{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        >input{
            display: flex;
            justify-content: center;
        }
    }
    
}

input[type=text], input[type=email], textarea{
    background: rgba(20, 29, 47, 1);
    border-radius: 10px;
    border: 1px solid rgba(151, 71, 255, 1);
    gap: 10px;
    padding: 15px 25px;
    &:hover{
        border: 1px solid rgba(112, 230, 28, 1);
        cursor: pointer;
    }
}

input[type=text]::placeholder, input[type=email]::placeholder, textarea::placeholder{
    color: rgba(255,255,255,0.5);
    font-size: 16px;
}

.privacy-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    >p{
        margin: 0;
        >a{
            text-decoration: none;
            color: rgba(151, 71, 255, 1);
        }
        
    }
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
input[type=submit]{
    background: rgba(112, 230, 28, 1);
    border-radius: 10px;
    padding: 15px 30px;
    gap: 10px;
    width: 50%;
    cursor: pointer;
    font-size: 23px;
    font-weight: 400;
}


.errorMsg{
    color: red;
    font-size: 16px;
    font-weight: 400;
}

input.error{
    background-image: url('/assets/img/error.png') !important;
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 20px 20px;
    padding-right: 25px; 
    border: 1px solid rgb(255, 0, 0);
}

textarea.error {
    background-image: url('/assets/img/error.png') !important;
    background-repeat: no-repeat;
    background-position: top 14px right 14px;
    background-size: 20px 20px;
    padding-right: 25px;
    border: 1px solid rgb(255, 0, 0);
}

input.success{
    background-image: url('/assets/img/success.png') !important;
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 20px 20px;
    padding-right: 25px; 
    border: 1px solid rgb(42, 252, 0);
}

textarea.success{
    background-image: url('/assets/img/success.png' ) !important;
    background-repeat: no-repeat;
    background-position: top 14px right 14px;
    background-size: 20px 20px;
    padding-right: 25px;
    border: 1px solid rgb(42, 252, 0);
}

.disabled-button{
    background: rgba(182, 182, 182, 1) !important;
}

.scroll-up-container{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 100px;
    padding-top: 50px;
    >button{
        background-color: rgba(112, 230, 28, 0);
        border: 2px solid white;
        width: 39px;
        height: 39px;
        border-radius: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
            border: 2px solid rgb(42, 252, 0);
            >a{
                >img{
                    filter: brightness(1) sepia(2) hue-rotate(400deg) saturate(30);
                }
            }  
        }
        >a{
            display: flex;
            justify-content: center;
            align-items: center;
            >img {
                width: 20px;
                height: 20px;
            }
        }
    }
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}


@media (max-width: 1340px){
    input[type=submit]{
        padding: 10px 15px;
        width: 250px;
    }
}
@media (max-width: 1000px){
    .contact-section{
        height: auto;
    }
    .contact-container{
        flex-direction: column;
        align-items: center;
        gap: 50px;

    }
    .text{
        width: 80%;
        padding: 0 30px;
        // text-align: center;
    }
    .contact-form{
        width: 100%;
    }
    .spacer-text{
        top: 15px;
    }
}
@media (max-width: 700px) {
    .headline{
        padding: 200px 0 100px 30px;
        width: calc(100% - 30px);
    }
    .contact-section{
        background-size: contain;
    }
}
@media (max-width: 700px) {
    .spacer-text{
        width: 35px;    
    }
}
@media (max-width: 470px) {
    .headline{
        padding: 200px 0 100px 20px;
        width: 100%;
        >h1{
            font-size: 70px;
        }
    }
    .text{
        >h2{
            font-size: 26px;
        }
        >span{
            font-size: 16px;
        }
    }
    .spacer-text{
        width: 25px;    
    }
    .spacer{
        width: 100%;
    }
    .contact-form{
        >form{
            width: 90%;
        }
    }
}
@media (max-width: 400px) {
    .spacer-text{
        width: 15px;    
    }
}