
<div class="skills">
    <div data-aos="fade-up" class="left">
        <div class="column">
            <div><img src="assets/img/javascript.png" alt=""><p>JavaScript</p></div>
            <div><img src="assets/img/typescript.png" alt="">TypeScript</div>
            <div><img src="assets/img/angular.png" alt="">Angular</div>
            <div><img src="assets/img/firebase.png" alt="">Firebase</div>
        </div>
        <div class="column">
            <div><img src="assets/img/git.png" alt=""><p>GIT</p></div>
            <div><img src="assets/img/scrum.png" alt=""><p>Scrum</p></div>
            <div><img src="assets/img/materialdesign.png" alt=""><p>Material Design</p></div>
        </div>
        <div class="column">
            <div><img src="assets/img/html.png" alt="">HTML</div>
            <div><img src="assets/img/css.png" alt="">CSS</div>
        </div>
        <div class="column">
            <div><img src="assets/img/api.png" alt="">Rest-API</div>
        </div>
    </div>
    
    <div class="right">
        <div>
            <h1 data-aos="fade-up" >Skills</h1>
            <div class="spacer"></div>
        </div>
        <span data-aos="fade-up" >{{skills}}</span>
        <a data-aos="fade-up"  href="#contact"><button>{{skillsButton}}</button></a>
    </div>
</div>
<div class="spacer-container">
    <div class="spacer-big"></div>
</div>