
<div class="skills">
    <div class="left">
        <div class="column">
            <div><img src="assets/img/javascript.png" alt=""><p>JavaScript</p></div>
            <div><img src="assets/img/typescript.png" alt="">TypeScript</div>
            <div><img src="assets/img/angular.png" alt="">Angular</div>
            <div><img src="assets/img/firebase.png" alt="">Firebase</div>
        </div>
        <div class="column">
            <div><img src="assets/img/git.png" alt=""><p>GIT</p></div>
            <div><img src="assets/img/scrum.png" alt=""><p>Scrum</p></div>
            <div><img src="assets/img/materialdesign.png" alt=""><p>Material Design</p></div>
        </div>
        <div class="column">
            <div><img src="assets/img/html.png" alt="">HTML</div>
            <div><img src="assets/img/css.png" alt="">CSS</div>
        </div>
        <div class="column">
            <div><img src="assets/img/api.png" alt="">Rest-API</div>
        </div>
    </div>
    <div class="right">
        <div>
            <h1>Skills</h1>
            <div class="spacer"></div>
        </div>
        <span>I have gained experience in building projects with various front end technologies and concepts.</span>
        <a href="#contact"><button>Get in touch</button></a>
    </div>
</div>