/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family:'Poppins', sans-serif;
    color: whitesmoke;
}
body{
    background-color: rgba(20, 29, 47, 1);

}
h1, h2, h3, h4{
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
#about-me::before,
#skills::before,
#projects::before {
    content: "";
    display: block;
    height: 150px; /* Adjust this value to match your header's height */
    margin: -100px 0 0; /* This negative margin is the same as the height */
    visibility: hidden;
}
@media (max-width: 340px){
    #about-me::before,
    #skills::before,
    #projects::before {
    height: 220px; /* Adjust this value to match your header's height */
    margin: -100px 0 0; /* This negative margin is the same as the height */
}
}

::-webkit-scrollbar {
    width: 14px; /* Width of the vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); /* Color of the track (scrollbar background) */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(41, 58, 94); /* Color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 91, 145); /* Color of the scroll thumb when hovered */
}
