<div class="top">
    <img class="shadow-left" src="assets/img/purple_shadow1.png" alt="">
    <img class="shadow-right" src="assets/img/blue_shadow1.png" alt="">
    <div class="headline">
        <h3>I am</h3>
        <div class="head-names">
            <h1>Bari Sopa</h1>
            <h2> &lt;FRONTEND DEVELOPER&gt;</h2> <!--<h2>BACKEND DEVELOPER</h2>-->
        </div>
    </div>
    <button><a href="#contact">{{talkBtn}}</a></button>
    
    <div class="scroll">Scroll Down -></div>
</div>
<div class="top-links">
    <div class="spacer"></div>
    <a href="https://github.com/Khroxx" target="_blank"><img src="assets/img/github-default.png" alt=""></a> 
    <a href="mailto:barisopa1@hotmail.com" target="_blank"><img src="assets/img/email-default.png" alt=""></a>
    <a href="https://www.linkedin.com/in/bari-sopa/" target="_blank"><img src="assets/img/linkedin-default.png" alt=""></a>
</div>

