.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
}
.headline{
    position: relative;
    
    >h2{
        position: absolute;
        font-size: 90px;
        font-weight: 400;
        text-align: center;
        rotate: -90deg;
        left: -200px;
        top: 78px;    
    }
    
}
.head-names{
    >h1{
        font-size: 128px;
        font-weight: 700;
    }
    >h2{
        font-size: 64px;
        font-weight: 400;
        color: rgba(151, 71, 255, 1);
        margin-block-start: -20px;

    }
}
button{
    border: none;
    background-color: rgba(112, 230, 28, 1);
    border-radius: 10px;
    padding: 15px 30px;
    gap: 10px;
    font-size: 23px;
    font-weight: 400;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    >a {
        text-decoration: none;
        color: whitesmoke;
    
    }
    &:hover{
        cursor: pointer;
        background-color: rgba(151, 71, 255, 1);
        scale: 1.2;
        transition: all 0.2s ease-in-out;
        
    }
}
.top-links{
    display: flex;
    align-items: center;
    gap: 42px;
    >a{
        text-decoration: none;
        &:hover{
            scale: 1.3;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
        
    }
}
.spacer{
    width: 100px;
    height: 0;

    // border: 4px;
    border: 4px solid rgba(112, 230, 28, 1)
}

.scroll{
    position: absolute;
    right: 50px;
    rotate: 90deg;
    bottom: 150px;
    font-size: 23px;
    font-weight: 400;
    gap: 3px;
}