<div class="shadow-container">
    <img data-aos="fade-right" class="shadow-left-big" src="assets/img/purple_shadow1.png" alt="">
    <img data-aos="fade-left" class="shadow-right-big" src="assets/img/blue_shadow1.png" alt="">
</div>
<div class="top">
    <img data-aos="fade-right" class="shadow-left" src="assets/img/purple_shadow1.png" alt="">
    <img data-aos="fade-left" class="shadow-right" src="assets/img/blue_shadow1.png" alt="">
    <div class="headline">
        <h3 data-aos="zoom-in" data-aos-duration="6000" >I am</h3>
        <div data-aos="zoom-in" data-aos-duration="2000" data-aos-offset="300"
        data-aos-easing="ease-in-sine" class="head-names">
            <h1>Bari Sopa</h1>
            <h2> &lt;FULLSTACK DEVELOPER&gt;</h2>
        </div>
    </div>
    <button><a href="#contact">{{talkBtn}}</a></button>
    
    <div data-aos="fade-right" class="scroll">{{scrollDown}} -></div>
</div>
<div data-aos="fade-right" class="top-links">
    <div class="spacer"></div>
    <a href="https://github.com/Khroxx" target="_blank"><img src="assets/img/github-default.png" alt=""></a> 
    <a href="mailto:barisopa1@hotmail.com" target="_blank"><img src="assets/img/email-default.png" alt=""></a>
    <a href="https://www.linkedin.com/in/bari-sopa/" target="_blank"><img src="assets/img/linkedin-default.png" alt=""></a>
</div>

